@import url('https://fonts.cdnfonts.com/css/futura-std-4');

html {
  scroll-behavior: smooth;
}
.logo{
  width: 120px;
}
.thumb{
  width: 250px;
}
.gift{
  width:350px
}

.pacific{
  font-family: 'Pacifico';
}

.futura{
  font-family: 'Futura Std', sans-serif;
  font-size: 16pt;
}

.white{
  color:#FFFF;
}

.gray{
  color: #807467;
}

.high{
  font-size: 60pt;
}

.urbanist{
  font-family: 'Urbanist';
  font-size: 20pt;
}

.title-p{
  font-size: 40pt;
}

.title-b{
  font-size: 30pt;
}

#parallax-1 {
  background: url('../src/assets/chaak/1_1.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-2 {
  background: url('../src/assets/chaak/2.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-3 {
  background: url('../src/assets/chaak/3.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-4 {
  background: url('../src/assets/chaak/4.jpeg');
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.date{
  font-size: 30pt;
  font-weight: bold;
}

.locationimg{
  width: 200px;
  height: auto;
}

.ptrn{
  background-image: url('../src/assets/pattern.png');
  background-repeat: repeat;
  background-size: 40%;
}

.imgbby{
  padding-top: 5%;
  width: 280px;
  height: auto;
}

.bbynm{
  width: 250px;
  height: auto;
}

.sub{
  font-size: 28pt;
}

.green{
  font-size: 30pt;
  color: #2b9b4c;
}

.gname{
  color: #2b9b4c;
}

.glass{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.3px);
-webkit-backdrop-filter: blur(3.3px);
}

.gifta{
  height: auto;
}
.cross{
  width: 100px;
  height: auto;
}

.hashtag{
  font-size: 20pt;
}

.date{
  width: 200px;
}

.envelope{
  width: 150px;
  fill: #2b9b4c;
}
/** colors: 2b9b4c green **/ 

#Lugar{
  height: auto;
  width: 100%;
}

#Padres{
  height: auto;
  width: 100%;
}

#Regalos{
  height:  auto;
  width: 100%;
}

#Confirmacion{
  height:  auto;
  width: 100%;
}

.liverpool{
  background-color: #e10098;
  color: #FFFF;
}