.pacific{
  font-family: 'Pacifico' ;
  font-size: 25pt;
}

.white{
  color:#FFFF;
}

.high{
  font-size: 60pt;
}

.urbanist{
  font-family: 'Urbanist';
  font-size: 20pt;
}

.title-p{
  font-size: 40pt;
}

.title-b{
  font-size: 30pt;
}

#parallax-2 {
  background: url(https://source.unsplash.com/featured/?church);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.date{
  font-size: 30pt;
  font-weight: bold;
}

.locationimg{
  width: 200px;
  height: auto;
}