@import url('https://fonts.cdnfonts.com/css/futura-std-4');



.pacific{
  font-family: 'Pacifico' ;
  font-size: 25pt;
}

.futura{
  font-family: 'Futura Std', sans-serif;
  font-size: 20pt;

}

.white{
  color:#FFFF;
}

.gray{
  color: #807467;
}

.high{
  font-size: 60pt;
}

.urbanist{
  font-family: 'Urbanist';
  font-size: 20pt;
}

.title-p{
  font-size: 40pt;
}

.title-b{
  font-size: 30pt;
}

#parallax-1 {
  background: url('../src/assets/chaak/1_1.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#parallax-2 {
  background: url('../src/assets/chaak/2.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-3 {
  background: url('../src/assets/chaak/3.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-4 {
  background: url('../src/assets/chaak/4.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.date{
  font-size: 30pt;
  font-weight: bold;
}

.locationimg{
  width: 200px;
  height: auto;
}

.ptrn{
  background-image: url('../src/assets/pattern.png');
  background-repeat: repeat;
  background-size: 40%;
}

.imgbby{
  padding-top: 5%;
  width: 400px;
  height: auto;
}

.bbynm{
  width: 550px;
  height: auto;
}

.sub{
  font-size: 28pt;
}

.green{
  color: #2b9b4c;
}

.glass{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.3px);
-webkit-backdrop-filter: blur(3.3px);
}



.gifta{
  height: 100vh;
}
.cross{
  width: 100px;
  height: auto;
}
/** colors: 2b9b4c green **/ 